
WITH table_info AS (
    SELECT column_name, data_type, column_default, is_nullable 
    FROM information_schema.columns 
    WHERE table_name = 'admin_audit_logs' AND table_schema = 'public'
),
indexes AS (
    SELECT indexname 
    FROM pg_indexes 
    WHERE tablename = 'admin_audit_logs'
),
row_count AS (
    SELECT count(*) as total_rows 
    FROM public.admin_audit_logs
),
functions AS (
    SELECT proname, pg_get_functiondef(oid) as def
    FROM pg_proc 
    WHERE proname IN ('prevent_audit_log_mutation', 'write_admin_audit_log', 'admin_resolve_ticket_and_refund', 'admin_update_product', 'audit_profiles_trigger', 'admin_adjust_wallet')
),
policies AS (
    SELECT policyname 
    FROM pg_policies 
    WHERE tablename = 'admin_audit_logs'
),
triggers AS (
    SELECT trigger_name 
    FROM information_schema.triggers 
    WHERE event_object_table IN ('admin_audit_logs', 'profiles')
)
SELECT json_build_object(
    'table_columns', (SELECT json_agg(row_to_json(table_info)) FROM table_info),
    'indexes', (SELECT json_agg(indexname) FROM indexes),
    'row_count', (SELECT total_rows FROM row_count),
    'functions', (SELECT json_agg(row_to_json(functions)) FROM functions),
    'policies', (SELECT json_agg(policyname) FROM policies),
    'triggers', (SELECT json_agg(trigger_name) FROM triggers)
);

